[Unit]
Description=unmineable.com pushover notification

[Service]
TimeoutStartSec=5
TimeoutStopSec=5
Restart=always
RestartSec=900s

ExecStart=/usr/local/bin/unmineable-pushover-notification

[Install]
WantedBy=network-online.target
